#header
  %a(href="/" data-confirm="Are you sure? Unsaved changes will be lost.") Back to Index

%form#new-form(action="" method="post")
  %input#id(name="id" type="hidden" value="#{doc.id}")
  %p
    %input#name(name="name" type="text" value="#{doc.name}" placeholder="ChordPro Name")
  %p
    %textarea#markup(name="markup" rows="30" cols="80" placeholder="ChordPro Markup")= doc.markup

  %p
    %button.new-form-button(data-url="/save") Save
    %button.new-form-button(data-url="/preview") Preview
    %button.new-form-button(data-url="/download") Download ChordPro
    %button.new-form-button(data-url="/render") Download PDF

#footer
  %p
    ChordPro preview provided by
    %a(href="http://webchord.sourceforge.net/") WebChord
  %p
    %a(href="http://www.vromans.org/johan/projects/Chordii/chordpro/index.html") ChordPro Syntax Guide
