%form(action="/new" method="post")
  %p
    %input#docname(name="docname" type="text" placeholder="ChordPro Name")
  %p
    %textarea#chordpro(name="chordpro" rows="30" cols="80" placeholder="ChordPro Markup")

  %p
    %input(type="submit" name="action" value="Preview")
    %input(type="submit" name="action" value="Save to Local")
    %a(href="/") Cancel

#footer
  %p
    ChordPro preview provided by
    %a(href="http://webchord.sourceforge.net/") WebChord
