%form(action="/register" method="post")
  .field
    %label(for="email") Email
    %input#email(type="email" name="email" placeholder="user@example.com")
  .field
    %label(for="password") Password
    %input#password(type="password" name="password")
  .field
    %label(for="password_confirmation") Password Confirmation
    %input#password_confirmation(type="password" name="password_confirmation")
  .action
    %input(type="submit" value="Register")
    %a(href="/") Cancel

